# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Models
models/
models_cad/

# Generated outputs
outputs/
*.pkl
*.png

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# 3d models
sofa 3d models/